body {
  font-family: sans-serif;
  background-color:#172f64;
  border-color:#170f64;
  border-style:solid;
  border-width:10px;
  border-top-left-radius: 3vw;
  margin-bottom: 10vh;
}
.topbar{
  margin-left:-10px;
  background-color:white;
  padding: 6% 0;
  margin-top:-10px;
  border-top-left-radius: 3vw;
  display: flex;
  flex-flow: row nowrap;
}
.title{
  color: black;
  font-weight:1000;
  font-size: 7vw;
  margin-left:10px;
}
.SPStree{
  margin-left:10px;
  width: 130px;
  height:14% width;
  margin-top:-3%;
  transition: transform .2s;

}
.SPStree:hover{
  transform: scale(0.875); 
  opacity:.75
}
.redbar{
  width:100%+10px;
  height:1.5vw;
  margin:0;
  margin-left:-10px;
  border:none;
  background-color: #6D2723;
}
.scho {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
ul {
    padding-inline-start: 20px;
}
.scho > div {
    margin: 0 10px;
}
.bigtext{
  color:white;
  font-size:50px;
  font-family:Helvetica;
  font-weight:400;
  height: max-content;
  margin: 20px 0;
}
.smalltext{
  color:black;
  background-color:rgb(255,215,0);
  border-radius:10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  font-family:Helvetica;
  padding: 0 5px;
}
.smalltext:hover{
  color:rgb(255,215,0);
  background-color:black;
}
li{
  color:white;
  margin: 5px 0;
}

.footer{
  color:rgb(220,220,220);  
  font-weight: 300;
  font-size: 25px;
  font-family:Helvetica;
  float: left;
  position: fixed;
  right: 0;
  bottom: 0;
  border-top-left-radius:3vw;
  background-color: rgb(150,150,150);
  text-align: center;
  padding: 1% 2%;
}
