<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel='Icon' href="SPStree.png" type='image/x-icon'/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    {% endblock %}
  </head>

  <body class = "body">
    
    <div class = "topbar">
      <a href="{{ url_for('home_page') }}"><image src="{{ url_for('static', filename='SPStree.png') }}" class="SPStree"></image></a>
      <a class="title">{% block bus_status_name %}{% endblock %} Bus Status</a>
    </div>
    
    <hr class="redbar">  
    
    <div class="scho">
        {% block content %}{% endblock %}
    </div>
      
    <a class="depotphone">Springdale bus depot: (479) 750-8830</a>
      
  </body>
</html>
