{% extends "base.html" %}
{% block title %}SBS Home{% endblock %}
{% block bus_status_name %}Springdale{% endblock %}
{% block content %}
    {% for title, fields in schools.items() %}
        <div>
            <p class="bigtext">{{title|title}}</p>
            <ul>
            {% for field, value in fields.items() %}
                  <li><a href="{{value if iframe != 'true' else value + '?iframe=true'}}" class="smalltext">{{field}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}